workflows_new/WF-CAPTION_Platform_Caption_Generator.json
{
  "name": "WF-CAPTION: Platform Caption Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-caption-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "id": "ca000001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "webhookId": "caf00001-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc000001-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.body.slot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cc000002-0000-4000-8000-000000000002",
              "leftValue": "={{ $json.body.business_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cc000003-0000-4000-8000-000000000003",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cc000004-0000-4000-8000-000000000004",
              "leftValue": "={{ $json.body.brief.key_message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -180,
        0
      ],
      "id": "ca000002-0000-4000-8000-000000000002",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": {\n    \"code\": \"MISSING_REQUIRED_FIELDS\",\n    \"message\": \"slot_id, business_id, platform, and brief.key_message are required\"\n  }\n}\n",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        40,
        160
      ],
      "id": "ca000003-0000-4000-8000-000000000003",
      "name": "Respond 400"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{ \"data\": { \"tier\": \"tier_1_image\", \"auto_approve\": false, \"brand_tone\": \"warm_reassuring\", \"pain_points\": [\"fear of pain\", \"cost anxiety\", \"dental phobia\", \"time constraints\"], \"ai_generate_images\": true } }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -120
      ],
      "id": "ca000004-0000-4000-8000-000000000004",
      "name": "Get Preferences",
      "notes": "MOCK of GET /v1/content/preferences. Replace with HTTP Request when backend is live."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{ \"data\": { \"name\": \"Luma Dental Care\", \"industry\": \"dental\", \"timezone\": \"Asia/Kolkata\", \"compliance_tier\": \"tier_h\" } }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -120
      ],
      "id": "ca000005-0000-4000-8000-000000000005",
      "name": "Get Business",
      "notes": "MOCK of GET /v1/settings/business. Replace with HTTP Request when backend is live."
    },
    {
      "parameters": {
        "jsCode": "// Sources (by node name) + trigger payload\nconst prefs = $('Get Preferences').first().json.data;\nconst business = $('Get Business').first().json.data;\nconst wh = $('Webhook').first().json.body;\nconst brief = wh.brief || {};\nconst platform = (wh.platform || '').toLowerCase();\n\n// Allow-list: reject unknown platforms early with a clear error\nconst allowed = ['instagram', 'facebook', 'linkedin', 'twitter'];\nif (!allowed.includes(platform)) {\n  throw new Error('Unsupported platform: ' + platform + '. Allowed: ' + allowed.join(', '));\n}\n\n// Platform-specific writing rules injected into the prompt\nconst rules = {\n  instagram: 'Platform: Instagram. Warm and visual. Put the hook on the first line. Use 1-3 relevant emojis naturally. Keep the caption 80-150 words. End with the CTA. Then provide 5-10 relevant hashtags.',\n  facebook: 'Platform: Facebook. Conversational and community-oriented. Up to ~180 words. Use 0-2 hashtags only. End with the CTA. Use emojis sparingly.',\n  linkedin: 'Platform: LinkedIn. Professional, credible, value-first. Avoid hype and avoid emojis. 100-160 words. Provide 3-5 professional hashtags. End with a clear professional CTA.',\n  twitter: 'Platform: X (Twitter). Punchy and concise. The ENTIRE post including any hashtags MUST be under 280 characters total. Use at most 1-2 hashtags. Lead with the hook, end with the CTA.'\n};\n\nreturn [{\n  json: {\n    slot_id: wh.slot_id,\n    business_id: wh.business_id,\n    platform: platform,\n    business_name: business.name,\n    industry: business.industry,\n    brand_tone: prefs.brand_tone,\n    hook: brief.hook || '',\n    key_message: brief.key_message || '',\n    emotional_angle: brief.emotional_angle || '',\n    cta: brief.cta || '',\n    platform_rules: rules[platform]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -120
      ],
      "id": "ca000006-0000-4000-8000-000000000006",
      "name": "Merge Context"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"You are an expert social media copywriter for {{ $json.business_name }}, a {{ $json.industry }} business.\\n\\nBrand tone: {{ $json.brand_tone }}\\n\\nUse this approved creative brief:\\nHook: {{ $json.hook }}\\nKey message: {{ $json.key_message }}\\nEmotional angle: {{ $json.emotional_angle }}\\nCall to action: {{ $json.cta }}\\n\\n{{ $json.platform_rules }}\\n\\nWrite ONE caption for this platform that follows the brief and the platform rules above. Return ONLY a valid JSON object with these exact fields: caption (the full post text, ready to publish), hashtags (an array of hashtag strings each starting with #, or an empty array if the platform rules say none). Return ONLY the JSON object. No explanation. No markdown.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -120
      ],
      "id": "ca000007-0000-4000-8000-000000000007",
      "name": "Build AI Prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        840,
        -120
      ],
      "id": "ca000008-0000-4000-8000-000000000008",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "orXohfwTWr21X9Db",
          "name": "OpenAI - SuperOne"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Context (by name) for identifiers + platform\nconst ctx = $('Merge Context').first().json;\n\n// Grab the raw text GPT returned (OpenAI Responses API structure)\nlet raw;\ntry {\n  raw = $input.first().json.output[0].content[0].text;\n} catch (e) {\n  throw new Error('Could not find AI response text — OpenAI output structure was unexpected.');\n}\n\n// Strip markdown fences if GPT adds them\nconst cleaned = (raw || '').replace(/```json/gi, '').replace(/```/g, '').trim();\n\n// Parse JSON — fail clearly if GPT returned garbage\nlet out;\ntry {\n  out = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('AI did not return valid JSON. Raw start: ' + cleaned.slice(0, 200));\n}\n\n// Validate caption\nif (!out.caption || typeof out.caption !== 'string') {\n  throw new Error('Caption missing or not a string.');\n}\nconst hashtags = Array.isArray(out.hashtags) ? out.hashtags : [];\n\n// Compute full length (caption + hashtags) and enforce the X/Twitter hard limit\nconst fullText = out.caption + (hashtags.length ? ' ' + hashtags.join(' ') : '');\nconst charCount = fullText.length;\nif (ctx.platform === 'twitter' && charCount > 280) {\n  throw new Error('Twitter caption exceeds 280 chars (' + charCount + '). Needs regeneration.');\n}\n\nreturn [{\n  json: {\n    slot_id: ctx.slot_id,\n    business_id: ctx.business_id,\n    platform: ctx.platform,\n    caption: out.caption,\n    hashtags: hashtags,\n    char_count: charCount\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -120
      ],
      "id": "ca000009-0000-4000-8000-000000000009",
      "name": "Parse Caption"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab000001-0000-4000-8000-000000000001",
              "name": "saved",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ab000002-0000-4000-8000-000000000002",
              "name": "saved_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        -120
      ],
      "id": "ca00000a-0000-4000-8000-00000000000a",
      "name": "Mock Save Caption",
      "notes": "MOCK of persisting the caption as a content_variant for this slot+platform (part of POST /v1/content/calendars/:id/generate-content internals; or PATCH content_variants). Replace with HTTP Request when backend is live. slot_id + platform are already on the item."
    },
    {
      "parameters": {
        "jsCode": "// Single caption in -> single clean response out\nconst d = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    slot_id: d.slot_id,\n    platform: d.platform,\n    caption: d.caption,\n    hashtags: d.hashtags,\n    char_count: d.char_count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -120
      ],
      "id": "ca00000b-0000-4000-8000-00000000000b",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1640,
        -120
      ],
      "id": "ca00000c-0000-4000-8000-00000000000c",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Preferences": {
      "main": [
        [
          {
            "node": "Get Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Caption": {
      "main": [
        [
          {
            "node": "Mock Save Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Save Caption": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ca000000-0000-4000-8000-0000000capt1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "050405181c1c74c655ffffffe52af964d2acedcf2dfb9e5e58be3bb769b8d56a"
  },
  "id": "WFCAPTION0000001",
  "tags": []
}
