workflows_new/WF-REGEN_Regeneration_Workflow.json
{
  "name": "WF-REGEN: Regeneration Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-regenerate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [ -800, 0 ],
      "id": "rg000001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "webhookId": "rgf00001-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            { "id": "rv000001-0000-4000-8000-000000000001", "leftValue": "={{ $json.body.slot_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } },
            { "id": "rv000002-0000-4000-8000-000000000002", "leftValue": "={{ $json.body.business_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } },
            { "id": "rv000003-0000-4000-8000-000000000003", "leftValue": "={{ $json.body.feedback }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } },
            { "id": "rv000004-0000-4000-8000-000000000004", "leftValue": "={{ $json.body.original_brief.key_message }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ -600, 0 ],
      "id": "rg000002-0000-4000-8000-000000000002",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": {\n    \"code\": \"MISSING_REQUIRED_FIELDS\",\n    \"message\": \"slot_id, business_id, feedback, and original_brief.key_message are required\"\n  }\n}\n",
        "options": { "responseCode": 400 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [ -400, 200 ],
      "id": "rg000003-0000-4000-8000-000000000003",
      "name": "Respond 400"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "tr000001-0000-4000-8000-000000000001", "name": "run_id", "value": "={{ $execution.id }}", "type": "string" },
            { "id": "tr000002-0000-4000-8000-000000000002", "name": "run_workflow", "value": "WF-REGEN", "type": "string" },
            { "id": "tr000003-0000-4000-8000-000000000003", "name": "run_trigger_kind", "value": "webhook", "type": "string" },
            { "id": "tr000004-0000-4000-8000-000000000004", "name": "run_started_at", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "tr000005-0000-4000-8000-000000000005", "name": "run_status", "value": "running", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ -500, -200 ],
      "id": "rg00000a-0000-4000-8000-00000000000a",
      "name": "Mock Insert Run",
      "notes": "MOCK of POST /api/v1/workflow-runs."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "fb000001-0000-4000-8000-000000000001", "name": "feedback_id", "value": "={{ 'fb_' + $now.toMillis() }}", "type": "string" },
            { "id": "fb000002-0000-4000-8000-000000000002", "name": "feedback_recorded_at", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "fb000003-0000-4000-8000-000000000003", "name": "feedback_recorded", "value": true, "type": "boolean" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ -400, -100 ],
      "id": "rg000004-0000-4000-8000-000000000004",
      "name": "Mock Save Feedback",
      "notes": "MOCK of POST /api/v1/content_feedback. At go-live: HTTP POST body { slot_id, variant_id, reviewer_id, body: feedback }."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"You are an expert content director analyzing reviewer feedback. The reviewer rejected a social media post and provided this feedback:\\n\\n'{{ $json.body.feedback }}'\\n\\nThe ORIGINAL brief was:\\nHook: {{ $json.body.original_brief.hook }}\\nKey message: {{ $json.body.original_brief.key_message }}\\nEmotional angle: {{ $json.body.original_brief.emotional_angle }}\\nVisual direction: {{ $json.body.original_brief.visual_direction }}\\nCTA: {{ $json.body.original_brief.cta }}\\n\\nBased on the feedback, decide what should change in the brief. Be specific - rewrite the elements the feedback affects, keep the rest as-is.\\n\\nReturn ONLY a valid JSON object with these exact fields:\\n- adjusted_hook (string) - new hook reflecting feedback, or the original if no change is needed\\n- adjusted_key_message (string) - new key message, or the original\\n- adjusted_emotional_angle (string) - new emotional angle, or the original\\n- adjusted_visual_direction (string) - new visual direction, or the original\\n- adjusted_cta (string) - new CTA, or the original\\n- tone_shift (string) - short label for the change, e.g. 'more educational', 'less salesy', 'shorter and punchier'\\n- summary (string) - one sentence explaining what changed and why\\n\\nReturn ONLY the JSON object. No explanation. No markdown.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ -200, -100 ],
      "id": "rg000005-0000-4000-8000-000000000005",
      "name": "Build Analysis Prompt"
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI" },
        "responses": { "values": [ { "content": "={{ $json.prompt }}" } ] },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [ 0, -100 ],
      "id": "rg000006-0000-4000-8000-000000000006",
      "name": "AI Analyze Feedback",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": { "id": "orXohfwTWr21X9Db", "name": "OpenAI - SuperOne" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse GPT's analysis + merge into an enhanced brief.\nconst wh = $('Webhook').first().json.body;\nconst orig = wh.original_brief || {};\n\nlet raw;\ntry { raw = $input.first().json.output[0].content[0].text; }\ncatch(e) { throw new Error('No AI response text — unexpected OpenAI output structure.'); }\nconst cleaned = (raw || '').replace(/```json/gi, '').replace(/```/g, '').trim();\n\nlet analysis;\ntry { analysis = JSON.parse(cleaned); }\ncatch(e) { throw new Error('AI did not return valid JSON. Raw start: ' + cleaned.slice(0,200)); }\n\nconst enhanced_brief = {\n  hook: analysis.adjusted_hook || orig.hook,\n  key_message: analysis.adjusted_key_message || orig.key_message,\n  emotional_angle: analysis.adjusted_emotional_angle || orig.emotional_angle,\n  visual_direction: analysis.adjusted_visual_direction || orig.visual_direction,\n  cta: analysis.adjusted_cta || orig.cta\n};\n\nreturn [{ json: {\n  slot_id: wh.slot_id,\n  business_id: wh.business_id,\n  platform: wh.platform,\n  feedback: wh.feedback,\n  tone_shift: analysis.tone_shift || 'general adjustment',\n  analysis_summary: analysis.summary || '',\n  original_brief: orig,\n  enhanced_brief: enhanced_brief,\n  // exact payload WF-CAPTION expects (with the enhanced brief baked in)\n  captionPayload: {\n    slot_id: wh.slot_id,\n    business_id: wh.business_id,\n    platform: wh.platform,\n    brief: enhanced_brief\n  }\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 200, -100 ],
      "id": "rg000007-0000-4000-8000-000000000007",
      "name": "Parse Analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.welvom.com/webhook/content-caption-generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.captionPayload) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 400, -100 ],
      "id": "rg000008-0000-4000-8000-000000000008",
      "name": "Call WF-CAPTION",
      "notes": "Calls WF-CAPTION with the ENHANCED brief (post-feedback). Requires WF-CAPTION published. Returns a fresh caption shaped to the reviewer's direction."
    },
    {
      "parameters": {
        "jsCode": "// Build the new variant record (version+1).\nconst an = $('Parse Analysis').first().json;\nconst cap = $input.first().json;\n\nreturn [{ json: {\n  variant_id: 'var_' + an.slot_id + '_v2_' + Date.now(),\n  version: 2,\n  slot_id: an.slot_id,\n  business_id: an.business_id,\n  platform: an.platform,\n  caption: cap.caption,\n  hashtags: cap.hashtags,\n  char_count: cap.char_count,\n  brief_used: an.enhanced_brief,\n  feedback_addressed: an.feedback,\n  tone_shift: an.tone_shift,\n  analysis_summary: an.analysis_summary,\n  regenerated_at: new Date().toISOString()\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 600, -100 ],
      "id": "rg000009-0000-4000-8000-000000000009",
      "name": "Assemble New Variant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "sv000001-0000-4000-8000-000000000001", "name": "variant_saved", "value": true, "type": "boolean" },
            { "id": "sv000002-0000-4000-8000-000000000002", "name": "variant_saved_at", "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 800, -100 ],
      "id": "rg00000b-0000-4000-8000-00000000000b",
      "name": "Mock Save New Variant",
      "notes": "MOCK of POST /api/v1/content_variants (new row, version+1, replacing the rejected one). At go-live: HTTP POST."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "ss000001-0000-4000-8000-000000000001", "name": "slot_status", "value": "pending_review", "type": "string" },
            { "id": "ss000002-0000-4000-8000-000000000002", "name": "slot_status_updated_at", "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1000, -100 ],
      "id": "rg00000c-0000-4000-8000-00000000000c",
      "name": "Mock Mark Slot pending_review",
      "notes": "MOCK of PATCH /v1/content/slots/{slot_id} status=pending_review. The slot goes BACK to review with the new variant. Reviewer sees the updated content and approves or rejects again."
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: {\n  success: true,\n  slot_id: d.slot_id,\n  platform: d.platform,\n  variant_id: d.variant_id,\n  version: d.version,\n  new_caption: d.caption,\n  new_hashtags: d.hashtags,\n  new_char_count: d.char_count,\n  feedback_addressed: d.feedback_addressed,\n  tone_shift: d.tone_shift,\n  analysis_summary: d.analysis_summary,\n  slot_status: d.slot_status\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1200, -100 ],
      "id": "rg00000d-0000-4000-8000-00000000000d",
      "name": "Build Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "tr000006-0000-4000-8000-000000000006", "name": "run_id", "value": "={{ $execution.id }}", "type": "string" },
            { "id": "tr000007-0000-4000-8000-000000000007", "name": "run_finished_at", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "tr000008-0000-4000-8000-000000000008", "name": "run_status", "value": "succeeded", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1400, -100 ],
      "id": "rg00000e-0000-4000-8000-00000000000e",
      "name": "Mock Mark Succeeded"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [ 1600, -100 ],
      "id": "rg00000f-0000-4000-8000-00000000000f",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [ [ { "node": "Validate Input", "type": "main", "index": 0 } ] ] },
    "Validate Input": { "main": [ [ { "node": "Mock Insert Run", "type": "main", "index": 0 } ], [ { "node": "Respond 400", "type": "main", "index": 0 } ] ] },
    "Mock Insert Run": { "main": [ [ { "node": "Mock Save Feedback", "type": "main", "index": 0 } ] ] },
    "Mock Save Feedback": { "main": [ [ { "node": "Build Analysis Prompt", "type": "main", "index": 0 } ] ] },
    "Build Analysis Prompt": { "main": [ [ { "node": "AI Analyze Feedback", "type": "main", "index": 0 } ] ] },
    "AI Analyze Feedback": { "main": [ [ { "node": "Parse Analysis", "type": "main", "index": 0 } ] ] },
    "Parse Analysis": { "main": [ [ { "node": "Call WF-CAPTION", "type": "main", "index": 0 } ] ] },
    "Call WF-CAPTION": { "main": [ [ { "node": "Assemble New Variant", "type": "main", "index": 0 } ] ] },
    "Assemble New Variant": { "main": [ [ { "node": "Mock Save New Variant", "type": "main", "index": 0 } ] ] },
    "Mock Save New Variant": { "main": [ [ { "node": "Mock Mark Slot pending_review", "type": "main", "index": 0 } ] ] },
    "Mock Mark Slot pending_review": { "main": [ [ { "node": "Build Response", "type": "main", "index": 0 } ] ] },
    "Build Response": { "main": [ [ { "node": "Mock Mark Succeeded", "type": "main", "index": 0 } ] ] },
    "Mock Mark Succeeded": { "main": [ [ { "node": "Respond Success", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "rg000000-0000-4000-8000-0000000reg09",
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "050405181c1c74c655ffffffe52af964d2acedcf2dfb9e5e58be3bb769b8d56a" },
  "id": "WFREGEN0000001",
  "tags": []
}
